Memories/Memories/Memories.Android/bin/
Memories/Memories/Memories.Android/obj/
Memories/Memories/Memories.UWP/bin/
Memories/Memories/Memories.iOS/obj/
Memories/Memories/Memories.UWP/obj/
Memories/Memories/Memories/obj/
Memories/.vs/
Memories/Memories/Memories/bin/
